@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Yekan';
    src: local('Yekan'), url(./fonts/yekan-font/Yekan.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: "Yekan";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}